/*
* DARK THEME - Night - By LunaSquee
*/
body{
    color: white;
    background-color: #242424;
}
header{
    background: #585858;
    background: -moz-linear-gradient(top, #585858 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#585858), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top, #585858 0%,#000000 100%);
    background: -o-linear-gradient(top, #585858 0%,#000000 100%);
    background: -ms-linear-gradient(top, #585858 0%,#000000 100%);
    background: linear-gradient(to bottom, #585858 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#000000',GradientType=0 );
}
#frame .gutter {
    background-color: #313131 !important;
    border-right: 1px solid #000 !important;
}
#output {
    border: 1px solid #000;
}
#output .sender {
    color: #FFF !important;
}
#output #topic {
    background-color: #313131 !important;
    color: white !important;
    border-bottom: 1px solid #000 !important;
}
.timestamp{
    color: white !important;
}
#frame .wrapper {
    background-color: #242424 !important;
}
#sidebar .actions {
    border-bottom: 1px solid #000 !important;
    background-color: #313131 !important;
    color: white !important;
}
#sidebar {
    border: 1px solid #000 !important;
    background-color: #222222 !important;
}
.listednick .nickname {
    color: white;
}
#settingsframe .wrapper {
    background-color: #181818 !important;
    border: 2px solid #000000 !important;
}
.pills > li > a {
    color: black;
}
.modal-body {
    background-color: #202020 !important;
    border: 1px solid #000000 !important;
}
.themelist .theme {
    background-color: #272727;
    border: 1px solid #000000;
}
.icon.settings {
	background-image: url(/images/settings_light.png) !important;
}